.app {
  &__container {
    padding: 20px;

    &__logo {
      display: flex;
      align-content: center;
      justify-content: center;

      height: 200px;
    }

    &__call-to-action {
      display: flex;
      align-content: center;
      justify-content: center;
      margin: 30px;
    }
  }

  &__h2 {
    color: var(--highlight-color)
  }
}