.space-ship-card {
  transition: 0.5s;
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px dashed rgba(255, 255, 255, 0.1);

  width: 200px;
  height: 220px;
  margin: 10px;
  padding: 20px;

  cursor: pointer;

  &:hover {
    transition: 0.5s;

    border: 2px dashed var(--primary-color);
    border-radius: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;

    transition: 0.5s;


    &__field {
      width: 100%;
      margin: 5px auto;

      &__key {
        font-weight: bold;
        font-size: 10px;
        color: var(--primary-color);
        margin: auto 10px auto 0;
      }

      &__value {
        font-size: 14px;
        color: var(--highlight-color);
        margin: auto 10px auto 0;
      }
    }
  }
}