body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: content-box;

  background: #000;
  color: #ffffff;

  --primary-color: #ffc500;
  --secondary-color: #333333;
  --highlight-color: white;
}